.featured-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured-image-container{
    position: relative;
    border-top: white 0.5px solid;
    display: flex;
}

.featured-image-container img{
    width: 60%;
}

.featured-image-container p {
    border: white 1px solid;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    height: 300px;
    background-color: wheat;

}

.featured-image-description{
    color: #E5E5E5;
    text-align: left;
    width: 20%;
}