.footer-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-top: 1px solid #FF0000;
    margin: 10px 0;
}
.footer-container p {
    text-align: center;
    padding: 10px;
    font-family: headerFont;
    color: #E5E5E5;
}

.footer-images-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}