.image-container{
    position: relative;
    transition-duration: 400ms;

}

.image-container:hover{
    transform: scale(1.1);
    transition-duration: 400ms;
}

.image-container:hover .image-description{
    transition: ease-in;
    transition-delay: 150ms;
    transition-duration: 900ms;
    z-index: 2;
    background-color: rgba(51,54,48,0.7);
    width: 98%;
    height: 25%;
    color: #E5E5E5;
}

@media only screen and (max-width: 990px) {
    .image-container:hover .image-description{
        transition: ease-in;
        transition-delay: 150ms;
        transition-duration: 900ms;
        z-index: 2;
        background-color: rgba(51,54,48,0.7);
        width: 99%;
        height: 25%;
        color: #E5E5E5;
    }
}
